<div class="user-info">
  <h1 id="name">{{invites.Name}}</h1>

  <section class="user-seat">
    <h2 id="seat">{{invites.Seat}}</h2>
    <div id="area">{{invites.Area}}</div>
  </section>

  <section>
    <div id="position">{{invites.Position}}</div>
    <div id="company">{{invites.Company}}</div>
  </section>
</div>
